.card {
    box-shadow: 0px 0px 3px 2px #ddd;
    background-color: #C1C6C0 !important;
    border-radius: 0 !important;
    z-index: 9;
}

.list-group {
    padding: 10px 5px !important;
    background-color: #fff;
    border-radius: 0 !important;
}

.list-group-item {
    display: flex !important;
    align-items: center;
    margin-bottom: 10px !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0 !important;
}
.list-group-item:last-child {;
    margin-bottom: 0 !important;
}

.list-group-item i.fa-square {
    flex-grow: 0;
    cursor: pointer;
    order: 1;
}

.list-group-item i.fa-check-square {
    display: none;
}

.list-group-item i.fa-trash-alt {
    flex-grow: 0;
    cursor: pointer;
    color: #dc3545;
    order: 3;
}

.list-group-item i.fa-trash-alt:hover {
    color: #af1e2c;
}

.list-group-item .todo-text {
    flex-grow: 1;
    margin: 0 10px;
    order: 2;
}

.list-group-item.done i.fa-check-square {
    flex-grow: 0;
    cursor: pointer;
    color: #28a745;
    display: block !important;
}

.list-group-item.done i.fa-square {
    display: none !important;
}

.list-group-item.done .todo-text {
    text-decoration: line-through;
    color: #888;
}
.input-group-append button {
    background-color: #D1A5A5;
    color: #4D4D4D;
    border-radius: 0 !important;
    margin: 1px 0;
}

#search, .btn-outline-secondary, #todo, #clearBtn {
    border-radius: 0 !important;
}
.list-group-item i.fa-trash-alt {
    color: #D1A5A5;
}
.input-group > button {
    color: gray ;
}
.layer-1 {
    height: 12px;
    width: 98%;
    border: 1px solid gray;
    z-index: -1;
    margin: -5px auto auto auto;
}
.layer-2 {
    height: 12px;
    width: 96%;
    border: 1px solid gray;
    z-index: -2;
    margin: -5px auto auto auto;
}
